body {
  background-color: rgb(212, 183, 119);
  margin-top: 0;
}

.contenedor1 {
  width: 100%;
  height: 100%;
  margin-top: 1rem;

  @media (min-width:500px) {
    margin-top: 3rem;
    width: 100%;
  }
}

.portada {
  width: 100%;
  height: 100%;
  margin-top: 1rem;

  @media (min-width:480px) {
    width: 100%;
    height: 100%;
  }
}

.texto1 {
  h1 {
    font-size: 1.2rem;
    color: $grisOscruo;
    text-transform: uppercase;
    text-align: center;

    @media (min-width:500px) {
      font-size: 2.2rem;
      text-align: center;
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;

    @media (min-width:500px) {
      font-size: 2rem;
      text-align: center;
    }
  }
}


.contenedor2 {
  background-color: $grisClaro;

  @media (min-width: 500px) {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}

.servicios__img {
  width: 90%;
  margin-left: 2rem;
  border-radius: 10%;
  margin-top: 3rem;
}

.servicios {
  margin-left: 5rem;
  margin-top: 5rem;

  h1 {
    text-transform: uppercase;
    border-bottom: solid 3px grey;
    /** Linea larga **/
    font-size: 1.5rem;

    @media (min-width:500px) {
      font-size: 2.2rem;
    }
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 0rem;
  }

  p {
    text-align: justify;
    margin-right: 3rem;
    font-size: 1rem;

    @media (min-width:500px) {
      font-size: 1.7rem;
    }
  }
}

/** Servicios 2 **/

.contenedor3 {
  background-color: $grisClaro;

  @media (min-width: 500px) {
    display: grid;
    grid-template-columns: 30% 50% 20%;
  }
}

.servicios__img1 {
  width: 90%;
  border-radius: 10%;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.servicios h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: -2rem;

  h3 {
    margin-top: 0rem;
  }
}


.contenedor-main {
  width: 100%;

  @media (min-width: 500px) {
    width: 100%;
    }

    }

    .contenedor__general {
      width: 100%;
  @media (min-width:500px) {
          width: 100%;
          display: grid;
          grid-template-columns: 30% 70%;
      }
  }

  .contenedor__alto {
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    p {
        text-align: justify;
        margin-right: 4rem;
        margin-left: 4rem;
        margin-bottom: 2rem;
        line-height: 2rem;
        font-size: 1.5rem;
        @media (min-width:500px) {
            font-size: 1.65rem;
        }
    }
}

.contenedor__bajo {
    @media (min-width:500px) {
            display: grid;
            grid-template-columns: 35% 65%;
            column-gap: 0rem;
            width: 100%;
    }
    p{
        text-align: justify;
        margin-right: 4rem;
        margin-left: 4rem;
        margin-top: 0rem;
        line-height: 2rem;
        font-size: 1.5rem;
        @media (min-width:500px) {
            font-size: 1.65rem;
        }
    }
    img {
        width: 80%;
        margin-left: 4rem;
        border-radius: 10%;
        @media (min-width:500px) {
            width: 500px;
            height: 260px;
            margin-top: 2rem;
            transform: translate(30px, -40px);
        }
    }
}
