html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: $fuenteSecundaria; color: cadetblue;
  font-family: $fuentePrimaria; color: darkcyan;
}

.motivacion {
    display: flex;
    justify-content: center;
  }
  
  .videosPresentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  
    iframe {
      width: 100%;
      height: 400px;
    }
  }

  .button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, rgba(0, 183, 221, 1) 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0, 183, 221, 1);
    padding-right: 20px;
    width: 150px;
  }
  
  .botones {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  
  .imagenesgaleria {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  
  .button {
    &:hover {
      background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
      background-color: #408c99;
    }
  
    &:active {
      position: relative;
      top: 1px;
    }
  }
  
  textarea {
    width: 50%;
  }
  
  .fade-in {
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  
  @keyframes fade-in {
    10% {
      opacity: 0;
    }
  
    80% {
      opacity: 1;
    }
  }
  
  img {
    width: 100%;
  }

  div.Footer {
    justify-content: center;
    align-self: center;
    color: green;
  }
  
  .imagenesgaleria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  
    iframe {
      width: 50%;
      height: 300px;
    }
  }
  
  @media (max-width: 900px) {
    .imagenesgaleria {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    .imagenesgaleria {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 900px) {
    .videosPresentacion {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
  
      li {
        margin-top: 5px;
      }
    }
  }

$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)