header {
    background-color: beige;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: auto;
  }
  
  h1 {
    color: grey;
  }
  
  li, ul {
    font-size: large;
  }
  
  nav {
    background-color: #878f5c;
  
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 100%;
  
      li a {
        text-decoration: none;
        color: rgb(88, 43, 6);
      }
    }
  }